// SVG animation that loads on homepage
@keyframes brushing-move {
	0%, 96%, 100% { top: 1.5rem; left: 0; transform: rotate(10deg)}
	15%, 77% { top: 1.5rem; left: 3rem; transform: rotate(-10deg)}
	27%, 62% { top: 0; left: 2rem; transform: rotate(10deg)}
	47%, 49% { top: 0; left: 4.5rem; transform: rotate(-10deg)}
}

@keyframes brushing-rectangle {
	0%, 96%, 100% { transform: rotate(40deg); left: -1rem; top: 0}
	15%, 77% { transform: rotate(40deg); left: 3.7rem; top: 0 }
	27%, 62% { transform: rotate(15deg); left: 4.2rem; top: -3rem }
	47%, 49% { transform: rotate(15deg); left: 6rem; top: -3rem }
}

.paint-splat {
	z-index: 1;
	width: 8rem;
	top: 2.8rem;
	left: -1rem;
}

.paint-brush {
	animation: brushing-move 2.5s infinite;
	z-index: 3;
}

.white-rectangle {
	z-index: 2;
	position: absolute;
	background-color: white;
	width: 10rem;
	height: 8rem;
	transform: rotate(15deg);
	animation: brushing-rectangle 2.5s infinite;
}
