@each $key, $z-index in $z-indices {
	.z-index-#{$key} {
		z-index: $z-index;
	}
}

@media screen and (max-width: 999px) {
	.border-sm-only {
		border: 1px solid $border-color !important;
	}

	.border-bottom-sm-only {
		border-bottom: 1px solid $border-color !important;
	}

	.border-top-sm-only {
		border-top: 1px solid $border-color !important;
	}

	.container {
		padding: 0 .5*$grid-gutter-width;
	}
}

@include media-breakpoint-up(lg) {
	.border-lg {
		border: 1px solid $border-color !important;
	}

	.border-top-lg {
		border-top: 1px solid $border-color !important;
	}

	.border-bottom-lg {
		border-bottom: 1px solid $border-color !important;
	}

	.my-lg-7 {
		margin-top: $spacer * 5 !important;
		margin-bottom: $spacer * 5 !important;
	}
}

.bottom-0 {
	bottom: 0;
}

.border-none {
	border: none;
}

.top-0 {
	top: 0;
}

.right-0 {
	right: 0;
}

.m-8 {
	margin: $spacer * 6;
}