* {
  box-sizing: border-box;
}

body,
#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

main {
  word-break: break-word;
  flex: 1;
  margin-top: 3.5rem;
  @include media-breakpoint-down(md) {
    margin-top: 3rem;
  }
}

nav {
  height: 3.5rem;
  @include media-breakpoint-down(md) {
    height: 3rem;
  }
}

table {
  word-break: normal;
}

.rakkas {
  font-family: "Rakkas", cursive;
}

h1,
h2 {
  color: $secondary;
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

a {
  color: $link;
  text-decoration: underline;
  font-weight: bold;
}

.h1 {
  font-size: $h1-font-size;
}
.h2 {
  font-size: $h2-font-size;
}
.h3 {
  font-size: $h3-font-size;
}
.h4 {
  font-size: $h4-font-size;
}

.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 0;
}

@include media-breakpoint-down(md) {
  h1,
  .h1 {
    font-size: $h1-font-size-mobile;
  }
  h2,
  .h2 {
    font-size: $h2-font-size-mobile;
  }
  h3,
  .h3 {
    font-size: $h3-font-size-mobile;
  }
  h4,
  .h4 {
    font-size: $h4-font-size-mobile;
  }

  .h1,
  .h2,
  .h3,
  .h4 {
    margin-bottom: 0;
  }
}

.homepage-banner-title {
  &.start-position {
    top: 13%;
    opacity: 0;
  }
  font-size: $font-size-base * 4;
  top: 10%;
  left: 10%;
  line-height: 1.2;
  pointer-events: none;
  opacity: 1;
  transition: all 0.5s ease-out;

  .en-penseel {
    margin-left: 5rem;
  }

  @include media-breakpoint-down(md) {
    line-height: 1;
    font-size: $h1-font-size-mobile;
  }
}

.homepage-banner-button {
  top: 70%;
  right: 10%;
  transform: scale(1);
  transform-origin: center center;
  opacity: 1;
  transition: all 0.6s;

  &.start-position {
    transform: scale(0.5);
    opacity: 0;
  }

  &.lg {
    right: 15%;
  }
}

.header-title a {
  text-decoration: none;
  color: $primary;
  font-weight: normal;
  &:hover {
    text-decoration: none;
  }
}

.desktop-header-menu a {
  text-decoration: none;
  font-weight: normal;
}

.mobile-header-menu {
  position: fixed;
  button:focus {
    border: none;
    font-weight: bold;
  }
}

button.btn-none {
  &:active,
  &:hover,
  &:focus {
    border: none;
  }
}

// AcountMenu.js
.mobile-header-menu-bg,
.mobile-header-menu {
  background-color: white;
  border: 0;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  overflow: hidden;
  z-index: 9001; // https://www.youtube.com/watch?v=QsDDXSmGJZA
  transition: ease-in-out 300ms;
}

.mobile-header-menu {
  transform: translateX(-100%);

  &.is-open {
    transform: translateX(0%);
  }
}

.mobile-header-menu-bg-cross,
.mobile-header-menu-bg {
  opacity: 0;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.mobile-header-menu-bg-cross {
  &:focus,
  &:hover {
    border: none;
  }
  right: 10%;
  transform: translateX(50%);
  top: 7px;
  z-index: 9001;
  transition: ease-in-out 300ms;
}

/* stylelint-disable-next-line no-duplicate-selectors */
.mobile-header-menu-bg {
  width: 100%;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.6);
}

.hover-link {
  &:hover {
    color: $link !important;
    > a {
      color: $link !important;
    }
  }
}

.hover-zoom {
  transition: all .1s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}

.hover-bg-light {
  &:hover {
    background-color: $light;
  }
}

.opacity-0 {
  opacity: 0;
}

.zoomed-image {
  position: fixed;
  z-index: 9002;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -55%);
  max-height: 90%;
  max-width: 90%;
  display: none;
  > span {
    border: 5px black solid !important;
  }
  &.is-open {
    display: block;
  }
}

.play-button {
  left: 50%;
  top: 50%;
  transform: translate(-40%, -40%);
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.3rem 0 1.3rem 2.6rem;
    border-color: transparent transparent transparent white;
    z-index: 99;
    display: block;
  }
}

.header-scroll-margin-top {
  scroll-margin-top: 70px;
}

// Next image
.next-image-rounded-shadow > span {
  @extend .rounded;
  @extend .shadow-sm;
}

.next-image-thumbnail > span {
  @extend .rounded-2;
}

form {
  label {
    @extend .my-1;
  }
  .invalid-feedback {
    position: absolute;
    margin-top: 1px;
    font-size: 14px;
  }
}

.honing {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.hygraph-components {
  table {
    tr:first-child {
      @extend .fw-bold;
    }
    @extend .table, .table-bordered, .table-responsive-sm, .table-striped;
    overflow-x: scroll;
    p {
      @extend .mb-0;
    }
  }
}