// Fontawesome default sizes for initial rendering

.svg-inline--fa {
	// w-14: counteract default values to prevent icons to be loaded as extremely large before a certain point during render
	&.fa-w-14 {
		width: $font-size-base;
	}
	font-size: $font-size-base * 1.5;
	width: $font-size-base * 1.5;
	

	&.fa-xxs {
		font-size: $font-size-base * .6 !important;
		width: $font-size-base * .6 !important;
	}
	
	&.fa-xs {
		font-size: $font-size-base * .9 !important;
		width: $font-size-base * .9 !important;
	}
	
	&.fa-sm {
		font-size: $font-size-base * 1.2 !important;
		width: $font-size-base * 1.2 !important;
	}
	
	&.fa-md {
		font-size: $font-size-base * 1.5 !important;
		width: $font-size-base * 1.5 !important;
	}
	
	&.fa-lg {
		font-size: $font-size-base * 1.875 !important;
		width: $font-size-base * 1.875 !important;
	}
	
	&.fa-xl {
		font-size: $font-size-base * 2.4 !important;
		width: $font-size-base * .2.4 !important;
	}
	
	&.fa-xxl {
		font-size: $font-size-base * 2.85 !important;
		width: $font-size-base * .2.85 !important;
	}

	@for $i from 1 through 7 {
		&.fa-#{$i}x {
			font-size: $font-size-base * $i !important;
			width: $font-size-base * $i !important;
		}
	}
}
