////////////
// COLORS //
////////////

$black: #000 !default;
$white: #fff !default;
$dark: #242424 !default;
$darkgrey: #545b62 !default;
$extralight: #feffff !default;
$light: #f8f9fa !default;
$tertiary: #76b9cb !default;
$primary: #0f4c5c !default;
$link: $primary !default;
$secondary: #730d13 !default;
$headerlight: rgba(0, 0, 0, 0.7) !default;
$success: #198754 !default;
$danger: #dc3545 !default;
$warning: #ffc107 !default;
$info: $primary !default;

// Allows for bootstrap color usage, e.g. bg-primary or text-cba
$theme-colors: (
  "black": $black,
  "dark": $dark,
  "darkgrey": $darkgrey,
  "extralight": $extralight,
  "headerlight": $headerlight,
  "light": $light,
  "link": $link,
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "white": $white,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
) !default;

/////////////
// SPACERS //
/////////////
$spacer: 1rem !default;

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 5,
  ),
) !default;

////////////////
// FONT-SIZES //
////////////////

// Configures bootstrap
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.125 !default; // 50px
$h2-font-size: $font-size-base * 2.375 !default; // 38px
$h3-font-size: $font-size-base * 1.8125 !default; // 29px
$h4-font-size: $font-size-base * 1.375 !default; // 22px

// own config
$h1-font-size-mobile: $font-size-base * 2.375 !default; // 38px
$h2-font-size-mobile: $font-size-base * 1.8125 !default; // 29px
$h3-font-size-mobile: $font-size-base * 1.375 !default; // 22px
$h4-font-size-mobile: $font-size-base * 1.25 !default; // 20px

///////////////
// Z-INDICES //
///////////////
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

$z-indices: (
  "dropdown": $zindex-dropdown,
  "sticky": $zindex-sticky,
  "fixed": $zindex-fixed,
  "modal-backdrop": $zindex-modal-backdrop,
  "modal": $zindex-modal,
  "popover": $zindex-popover,
  "tooltip": $zindex-tooltip,
) !default;

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.15);
$navbar-light-color: rgba(0, 0, 0, 0.7);
